.additional{
  margin-top: 28px;
  margin-bottom: 39px;
}

.additional__heading{
  font-size: 24px;
  font-family: $oswd-r;
  color: #444;
  line-height: 1;
  text-align: left;
  position: relative;

  &::before, &:before{
    content: "";
    display: block;
    width: 52px;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    top: 14px;
    right: -20px;
  }
}

.additional__list{
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
  margin-top: 34px;
  padding: 0;
}
.additional__item{
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
  margin-bottom: 10px;
}
.additional__title {
  font-size: 16px;
  font-family: $oswd-r;
  font-weight: normal;
  color: #222;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 11px;
}

.additional__features{
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.additional__features-title{
  font-size: 14px;
  font-family: "Arial";
  color: #444;
  line-height: 1.1;
  text-align: left;
}

.additional__features-value{
  font-size: 14px;
  font-family: "Arial";
  color: #444;
  line-height: 1.1;
  text-align: right;
}

.additional__button{
  width: 100%;
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 7px;
}

@media (min-width:$tablet){
  .additional{
    margin-bottom: 69px;  
  }
  
  .additional__heading{
    font-size: 36px;
    margin-left: 37px;
    &:before, &::before{
      top: 23px;
      right: -30px;
      width: 326px;
    }
    &:after, &::after{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      top: 23px;
      left: -70px;
    }
  }
  
  .additional__list{
    margin-top: 81px;
    border:none;
  }
  
  .additional__item{
      border: 1px solid rgba(230, 230, 230, .5);
      padding: 14px 37px 27px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &:not(:last-child){
        border-bottom: none;
      }      
  }
  
  .additional__title{
      font-size: 20px;
      color: rgb(34, 34, 34);
      line-height: 1;
      flex: 0 0 50%;
      margin-bottom: 25px;
  }
  
  .additional__features{
    text-align: right;
    display: flex;
    
    flex: 0 0 50%;    
    margin-top: 17px;
  }
  
  .additional__features-title{
    font-size: 16px;
    flex: 0 0 70%;
    text-align: right;
  }
  
  .additional__features-value{
    font-size: 16px;
  }
}

@media(min-width: $desktop){
  .additional__heading{
    margin-left: 0;
    margin-top: 0;
    
    &:before, &::before{
      right: -435px;
      width: 957px;
    }
    
    &:after,&::after{
      left: -110px;
      width: 70px;
    }
  }
  
  .catalog-page main .additional{
    padding: 0;
    margin: 0;
  }
  
  .additional__item{
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    align-items: center;
    
    padding-bottom: 0;
    
    border-top: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
    &:last-child{
      border-bottom: 1px solid #cdcdcd;
    }
  }
  
  .additional__title{
    flex: 0 0 324px;
  }
  
  .additional__button{
    width: 245px;
    margin-bottom: 0px;
    margin-top: -16px;
  }
  
  .additional__features{
    text-align: left;
    justify-content: flex-start;
    flex: 0 0 325px;
    margin-top: 8px;
  }
  
  .additional__features-title{
    text-align: left;
    flex: 0 0 244px;
  }
  
  .additional__features-value{
    
  }
  
  .additional__list{
    width: 895px;
  }
}