.button:visited, .button:link, .button{
  background-color: #68b738;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 73px 9px;
  font-family: $oswd-r;
  border: none;
}

.button{
  &:hover{
    background-color: $greenHover;
  }
  
  &:active{
    background-color: $greenHover;
    color: rgba(255, 255, 255, .3h);
  }
}