.catalog{

}

.catalog__list{
  list-style-type: none;
  padding: 0;
  margin-top: 28px;
}

.catalog__item{
  width: 100%;
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog__item:not(:last-child){
  margin-bottom: 25px;
}

.catalog__item-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-size: 16px;
  line-height: (20/16);
  font-family: $oswd-r;
  color: #111;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 0px;
  font-weight: normal;
}

.catalog__descr{
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  font-family: Arial;
  color: #444444;
  line-height: (16.8 / 12);

}
.catalog__descr-title{
  width: 50%;
}
.catalog__descr-def{
  width: 50%;
  margin: 0;
  text-align: right;
}

.catalog__img-wrapper{
  width: 50%;
  display: f
}


.catalog__button{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "Oswald",Arial,sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
}
