.categories{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width:$tablet){
  .categories{
    margin-top: 59px;
  }
}

@media(min-width:$desktop){
  .categories{
    margin-bottom: 61px;
  }
  
  .categories .wrapper{
    display: flex;
    justify-content: space-between;
  }
}