.example{
  background-color: #f2f2f2;
  padding-top:20px;
  font-family: Arial;
  padding-bottom: 36px;
}

.example__heading{
  font-size: 36px;
  font-family: $oswd-r;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 28px;
}

.example__text{
  font-size: 14px;
  line-height: (21/16);
}

.example__results{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  padding-left: 2px;
}

.example__result{
  width: 50%;
  text-align: center;
  position: relative;
}

.example__result-descr{
  display: block;
  font-family: $oswd-r;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 7px 0px 10px;
  width: 89%;
  border:1px solid #cdcdcd;
}

.example__result:nth-child(2n) >.example__result-descr{
  margin-left: auto;
}

.example__result-name{
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  position: absolute;
  background-color: #f2f2f2;
  width: 87px;
  padding: 0 15px;
  text-align: center;

  top: 47px;
  left: 17px;
}

.example__result:nth-child(2n) .example__result-name{
  left: 35px;
}
