.example{
  background-color: #f2f2f2;
  padding-top:20px;
  font-family: Arial;
  padding-bottom: 36px;
}

.example__heading{
  font-size: 36px;
  font-family: $oswd-r;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 28px;
}

.example__text{
  font-size: 14px;
  line-height: (21/16);
}

.example__br--tablet{
  display: none;
}

.example__results{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  padding-left: 2px;
}

.example__result{
  width: 50%;
  text-align: center;
}

.example__result-wrapper{
  display: block;
  border-radius: 2px;
  padding: 7px 0px 10px;
  width: 89%;
  border:1px solid #cdcdcd;
  position: relative;
}

.example__result-descr{
  font-family: $oswd-r;
  font-size: 24px;
  text-transform: uppercase;
}

.example__result:nth-child(2n) >.example__result-wrapper{
  margin-left: auto;
}

.example__result-name{
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  position: absolute;
  background-color: #f2f2f2;
  width: 87px;
  padding: 0 15px;
  text-align: center;

  top: 47px;
  left: calc(50% - 43.5px);  
}


.example__result:nth-child(2n) .example__result-name{
  left: calc(50% - 43.5px);
}

.example__subheading{
  margin-top: 35px;
  font-family: $oswd-r;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  line-height: (20/14);
  text-transform: uppercase;
}

.example__br{
  display: none;
}

@media (min-width: $tablet){
  .example{
    padding-top: 2px;
    padding-bottom: 98px;
    background-color: #fff;
    position: relative;
    z-index: 0;
  }
  
  .example__heading{
    font-size: 60px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 67px;
  }

  .example__text{
    margin-top: 22px;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .example__text br{
    display: none;
  }
  
  br.example__br--tablet{
    display: inline;
  }
  .example__features{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  
  .example__results{
    width: 365px;
  }

  .example__result-wrapper{
    padding: 10px 0 14px;
    margin-left: -2px;
    width: 162px;
  }

  .example__result-descr{
    font-size: 30px;
  }
  
  .example__result:nth-child(2n) >.example__result-wrapper{
  }
  
  .example__result:nth-child(2n) .example__result-name{
    width: 142px;
    left: 10px;
  }

  .example__result-name{
    width: 114px;
    padding: 0;
    top: 63px;
    font-size: 14px;
    left: 23px;
    background-color: #fff;
  }
  
  .example__subheading{
    font-size: 20px;
    text-align: right;
  }
    
  .example__br{
    display: inline;
  }
}