.form-contacts .form__input-text{
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width:$tablet){
  .form-contacts .form__input-text{
    margin-left: 10px;
    padding-left: 21px;
    padding-right: 35px;
  }
}