.form-diet{
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #ededed;
  border-width: 1px 0;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.form-diet .form__label-text{
  margin-left: 16px;
}

.form-diet__checkbox{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cecece;
}

.form-diet .form__label-text{
  margin-left: 16px;
}

.form-diet__checkbox-input:checked + .form-diet__checkbox{
  position: relative;
  &::after, &:after{
    position: absolute;
    top:8px;
    left:8px;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

@media(min-width:$tablet){
  .form-diet{
    max-width: 630px;
    padding: 24px 29px;
    border-width: 1px;
  }  
  
  .form-diet__checkbox{
    width: 40px;
    height: 40px;
  }  
  
  .form-diet__checkbox-input:checked + .form-diet__checkbox{
    &::after, &:after{
      top:10px;
      left:10px;  
      width: 18px;
      height: 18px;
    }
  }
  
  .form-diet .form__label-text{
    margin-left: 19px;
  }
  
  .form-diet .form__label:not(:last-child){
    margin-bottom: 13px;
  }
}

@media(min-width:$desktop){
  .form-diet{
    margin-right: -6px;
    padding: 24px 26px;
    width: 570px;
  }
}
