.form-cat .form__label:nth-child(2) .form__input-text{
  margin-left: 15px;
}

.form-cat__profile{
  margin-bottom: 23px;
}

@media(min-width:$tablet){
  .form-page .form-cat__profile{
    margin-bottom: 72px;
    padding-right: 67px;
  }
}
