.form__additional{
  margin-bottom: 35px;
}

.form__additional .form__heading{
  margin-top: 22px;
  margin-bottom: 35px;
  &::after, &:after{
    width: 136px;
    top: 15px;
  }
}

.form__additional .form__label:not(:last-child){
  margin-bottom: 12px;
}