.form{
  margin-bottom: 33px;
}

.form__heading{
  font-size: 14px;
  line-height: (18/14);
  text-transform: uppercase;
  font-family: $oswd-r;
  margin-bottom: 40px;
}

.form__label{
  display: block;
  width: 100%;
  font-family: $oswd-r;
  font-size: 16px;
  line-height: (18/16);
  color: #222222;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
}

.form__label:not(:last-child){
  margin-bottom: 13px;
}

.form__label:last-of-type{
  margin-bottom: 0;
}

.form__label--with-icon{
  padding: 12px 35px 10px 15px;
}

.form-cat__diet .form__label-text{
  margin-left: 16px;
}

.form__input-text{
  background: unset;
  flex-grow: 1;
  border: 1px solid #e6e6e6;
  margin-left: 13px;
  font-size: 18px;
  padding: 13px 15px 10px;
  width: 100%;
  color: #444;
}

.form__label-text {
    flex-grow: 1;
    white-space: nowrap;
}

.form__input-text::placeholder{
  font-size: 16px;
  font-family: $oswd-r;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  line-height: (18/16);
}

.form__heading--second{
    font-size: 24px;
    font-family: $oswd-r;
    color: #111111;
    text-transform: none;
    line-height: 1;
    margin-top: 28px;
    margin-bottom: 34px;
    position: relative;
    &:after, &::after{
      content: "";
      background-color: #68b738;
      height: 3px;
      width: 99px;
      position: absolute;
      top: 13px;
      right: -20px;
      display: block;
    }
}

.form__icon{
  position: absolute;
}

.form__icon--email{  
  margin-top: -6px;
  
  top: 50%;
  right: 15px;
}

.form__icon--phone{
  margin-top: -10px;
  top:50%;
  right: 13px;
}

.form__checkbox-border{
  width: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  margin-right: 15px;
}

.form__checkbox-tick{
  position: absolute;
  margin-top: 1px;
  left: 5px;
  display: none;
  fill:$green;
}

.form__checkbox-input:checked ~ .form__checkbox-tick {
  display: block;
}

.form__button{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  
  font-size: 16px;
  font-family: $oswd-r;
  
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 8px;
}

.form__hint{
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.143;
  text-align: center;
}

@media (min-width: $tablet){
  .form__heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 66px;
  }
  
  .form__label{
    font-size: 20px;
  }
  
  .form__label:not(:last-child){
    margin-bottom: 19px;
  }
  
  .form__input-text{
    font-size: 20px;
    margin-left: 17px;
    padding: 12px 15px 15px;
  }
  
  .form__label-text {
    
  }


  
}

@media (min-width: $desktop){
  
}