.form-comment .form__heading{
  margin-bottom: 35px;
  &::after, &:after{
    width: 157px;
  }
}

.form-comment__textarea{
  border: 1px solid #e6e6e6;
  padding: 12px 13px 30px 14px;
  font-size: 16px;
  font-family: $oswd-r;
  text-transform: uppercase;
  font-weight: normal;
  line-height: (18/16);
  height: 150px;
}

.form-comment__textarea{
  width: 100%;
}

@media(min-width:$tablet){
  .form-comment .form__heading{
    margin-top: 57px;
    margin-bottom: 67px;
    &::after, &:after{
      width: 481px;
    }
  }  
  
  .form-comment__textarea{
    padding: 13px 13px 30px 18px;
    font-size: 20px;
    height: 174px;
  }
}

@media(min-width:$desktop){
  .form-comment .form__heading{
    margin-top: 58px;  
    &::after, &:after{
      width: 1110px;
    }
  }
  
}