.gift{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #68b738;
  background-image: url('../img/gift-photo-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 65px 20px 30px;
  margin-bottom: 35px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .gift{
    background-image: url('../img/gift-photo-mobile@2x.jpg');
  }
}

.gift__icon-wrapper{
  text-align: center;
}

.gift__icon{
  fill:#fff;
}

.gift__heading{
  font-size: 16px;
  font-family: "Arial";
  color: #fff;
  line-height: 1.25;
  text-align: center;
  font-weight: normal;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
}

@media (min-width:$tablet){
  .gift{
    margin-left: 30px;
    margin-right: 30px;
    background-position: center;
    background-size: 100% auto;
    background-image: url('../img/gift-photo-tablet@1x.jpg');
    display: flex;
    justify-content: space-between;
    padding: 65px 90px 68px;
    margin-bottom: 76px;
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .gift{
      background-image: url('../img/gift-photo-tablet@2x.jpg');
    }
  }
  
  .gift__icon-wrapper{
    
  }
  .gift__heading{
    margin: 0;
    margin-right: 25px;
    margin-top: 7px;
    text-align: left;
  }
}

@media (min-width:$desktop){
  .gift{
    margin-left: 80px;
    margin-top: 117px;
    margin-bottom: 18px;
    flex-direction: column;
    padding: 65px 28px 38px 37px;
    width: 245px;
    margin-right: 0;
    background-size: 100% 100%;
    background-image: url('../img/gift-photo-desktop@1x.jpg');
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .gift{
      background-image: url('../img/gift-photo-desktop@2x.jpg');
    }
  }
  
  .gift__icon-wrapper{
    padding-left: 6px;
  }
  
  .gift__heading{
    text-align: center;
    margin-right: 0;
    margin-bottom: 4px;
  }
}