.header{
  display: flex;
  padding: 0 20px;
  min-height: 66px;
  align-items: center;
  justify-content: space-between;
}

.header__link{
  // font-size: 0;
  text-decoration: none;
}

.header__icon-logo{
  width: 35px;
  height: 38px;
}

.header__text-logo{
  width: 104px;
  height: 19px;
}
