
@media (min-width: $desktop){
  .main-bottom-wrapper{
      display: flex;  
      padding: 0 110px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 67px;
      max-width: 1440px;
  }  
}
