.page__heading{
  font-size: 36px;
  line-height: (60/36);
  font-family: $oswd-r;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 24px;
}

.catalog-page .page__heading{
  margin-bottom: 27px;
}

@media (min-width: $tablet){
  .page__heading{
    font-size: 60px;
    margin-top: 31px;
    margin-left: -41px;
    margin-bottom: 35px;
  }
  
  .catalog-page .page__heading{
    margin-left: 0;
  }
}

@media (min-width: $desktop){
  .page__heading{
    font-size: 60px;
    margin-top: 50px;
    margin-left: -1px;
  }

}