.promo__background{
  background-color: #63a73a;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 10px;
  min-height: 306px;
  width: 100%;
  background-size: 320px 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {   
  .promo__background{
    background-image: url('../img/index-background-mobile@2x.jpg');
    
  }
}

.promo{
  font-family: $oswd-r;
  font-size: 14px;
  color:#fff;
  position: relative;
  text-align: center;
}

.promo__title{
  font-size: 36px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 21px;
  line-height: 1;
  font-weight: normal;
}

.promo__slogan {
  font-size: 14px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.promo__image{
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left:-140px;
}

.promo__button{
  display: inline-block;
  margin-top: 120px;
}

@media (min-width:$tablet){
  .promo{
    min-height: 800px;
    position: relative;
  }
  
  .promo__background > div{
    position: relative;
  }
  
  .promo__background{
    background: none;
  }
  
  .promo__title{
    font-size: 60px;
    color: #111;  
    margin-top: 40px;
    padding-left: 87px;
    padding-right: 170px;
    text-align: start;
  }
  
  .promo__slogan{
    font-size: 20px;
    color: #111;
    text-align: left;
    padding-left: 87px;
    margin-top: 36px;
  }
  
  .promo__image{
    right: 30px;
    top: 200px;
    left: unset;
    width: 709px;
    height: 609px;
    z-index: 0;
  }
  
  .promo__button,.promo__button:link,.promo__button:visited{
    position: relative;
    top: -46px;
    left: -143px;
    margin: 0;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 28px;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop){
  .promo{
    &::before, &:before{
      content: "";
      background-image: url('../img/index-background-desktop@1x.jpg');
      width: 722px;
      height: 697px;
      position: absolute;
      top: -119px;
      z-index: -1;
      background-position: 40px 0;
      background-repeat: no-repeat;
      background-color: #64A93C;
    }
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .promo{
      &::before, &:before{
        background:url('../img/index-background-desktop@2x.jpg') no-repeat top left;
        background-size: 680px 696px;
        background-position: 40px 0;
        background-color: #64A93C;
      }
    }
  }
  
  .promo__title{
    margin-top: 92px;
    padding-left: 80px;
    padding-right: 570px;
  }
  
  .promo__slogan{
    padding-left: 80px;
  }
  
  .promo__button, .promo__button:link, .promo__button:visited{
    top: 11px;
    left: -408px;
  }
  
  .promo__image{
    right: 330px;
    top: -80px;
    width: 550px;
    height: 500px;
  }
  
  .promo{
    min-height: 598px;
  }
}