.promo__background{
  background-color: #63a73a;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 10px;
  min-height: 306px;
}

.promo{
  font-family: $oswd-r;
  font-size: 14px;
  color:#fff;
  position: relative;
  text-align: center;
}

.promo__title{
  font-size: 36px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 21px;
  line-height: 1;
  font-weight: normal;
}

.promo__slogan {
  font-size: 14px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.promo__image{
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left:-140px;
}

.promo__button{
  display: inline-block;
  margin-top: 120px;
}

@media (min-width:767px){
  .promo{
    min-height: 800px;
    position: relative;
  }
  
  .promo__background > div{
    position: relative;
  }
  
  .promo__background{
    background: none;
  }
  
  .promo__title{
    font-size: 60px;
    color: #111;  
    margin-top: 40px;
    padding-left: 87px;
    padding-right: 170px;
    text-align: start;
  }
  
  .promo__slogan{
    font-size: 20px;
    color: #111;
    text-align: left;
    padding-left: 87px;
    margin-top: 36px;
  }
  
  .promo__image{
    right: 28px;
    top: 200px;
    left: unset;
    width: 630px;
    height: 609px;
    z-index: 0;
  }
  
  .promo__button,.promo__button:link,.promo__button:visited{
    position: relative;
    top: -47px;
    left: -143px;
    margin: 0;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 28px;
    padding-bottom: 11px;
  }
}
