.slider-cat{
  font-family: $oswd-r;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  height: 297px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.slider-cat__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.slider-cat__cats {
    height: 240px;
    margin-top: 35px;
}

.slider-cat__first .slider-cat__overflow{
  margin-left: auto;
}
.slider-cat__first, .slider-cat__second{
  height: 100%; 
  position: absolute;
}

.slider-cat__first {
  left: 0;
}

.slider-cat__second {
  right: 0;
}

.slider-cat__image {
  position: absolute;
  width: 320px;
  z-index: 10;
}

.slider-cat__control {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.slider-cat__line{
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  width: 80px;
  height: 12px;
  margin-bottom: 22px;
  position: relative;
}

.slider-cat__button{
  background-color: rgb(104, 183, 56);
  position: absolute;
  width: 35px;
  height: 6px;
  top: 2px;
  left: 6px;
  border-radius: 3px;
}


.slider-cat__control{
  display: none;
}

.slider-cat__control--mobile{
  display: flex;
  padding: 0 59px 0 63px;
  margin-top: 14px;
  font-size: 16px;
}

@media(min-width: $tablet) {
  .slider-cat {
    height: 522px;
    margin-top: 65px;
    max-width: unset;
  }
  
  .slider-cat__cats{
    height: unset;
  }
  
  .slider-cat__first,
  .slider-cat__second {
    position: absolute;
    width: 50%;
    height: 100%;
  }
  
  .slider-cat__first {
    &::before,
    &:before {
      content: "";
      background-color: #f2f2f2;
      height: 462px;
      width: 100%;
      bottom: -110px;
      position: absolute;
    }
  }

  .slider-cat__second {
    &::before,
    &:before {
      content: "";
      background-color: #e6e6e6;
      height: 462px;
      width: 100%;
      bottom: -110px;
      position: absolute;
    }
  }

  .slider-cat__image {
    width: 690px;
  }

  .slider-cat__first .slider-cat__image {
    margin-left: calc(46px + (100vw - 768px) / 2);
  }

  .slider-cat__second .slider-cat__image {
    right: calc(32px + (100vw - 768px) / 2);
  }
  
  .slider-cat__control {
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    position: relative;
    bottom: -61px;
    font-size: 20px;
    padding: 0 99px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider-cat__before,.slider-cat__after{
    border-bottom: 1px dotted #000;
    padding-bottom: 1px;
  }
  
  .slider-cat__line{
    border-radius: 2px;
    background-color: #dcdcdc;
    width: 428px;
    height: 6px;
    margin-bottom: 33px;
    position: relative;
  }
  
  .slider-cat__button{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);  
    width: 34px;
    height: 34px;
    position: relative;
    z-index: 5;
    top: -13px;
    left: 200px;
    
    &:after, &::after{
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: rgb(104, 183, 56);
      z-index: 10;
      content: "";
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }
  }
  
  .slider-cat__control{
    display: flex;
  }

  .slider-cat__control--mobile {
    display: none;
  }
}