@media(min-width: $tablet){
  .slider-cat{
    position: relative;
    z-index: 0;
    height: 522px;
    margin-top: 65px;
  }
  
  .slider-cat__first, .slider-cat__second{
    position: absolute;
    width: 50%;
    height: 100%;
  }
  .slider-cat__overflow{
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .slider-cat__first{
    left: 0;
    
    &:before, &::before {
      content: "";
      background-color: #f2f2f2;
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: -110px;
    }
  }
  
  .slider-cat__second{
    right: 0;
    
    &:before, &::before {
      content: "";
      background-color: #e6e6e6  ;
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: -110px;
    }
  }
  
  .slider-cat__image{
    position: absolute;
    width: 690px;
    z-index: 10;
  }
  
  .slider-cat__first .slider-cat__image{
    margin-left: 46px;
  }
  
  .slider-cat__second .slider-cat__image{
    right: 32px;
  }
  
  .slider-cat__control--mobile{
    display: none;
  }
}