@import 'variables.scss';
@import 'gift.scss';
@import 'additional.scss';
@import 'advantages.scss';
@import 'button.scss';
@import 'catalog.scss';
@import 'categories.scss';
@import 'category.scss';
@import 'example.scss';
@import 'fonts.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'page.scss';
@import 'presentation.scss';
@import 'promo.scss';
@import 'show-more.scss';
@import 'site-list.scss';
@import 'wrapper.scss';
@import 'title.scss';
@import 'slider-cat';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body{
  margin: 0;
}

.vissualy-hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0; 
}
