.wrapper{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  max-width: 320px;
}

@media (min-width: $tablet){
  .wrapper{
    padding: 0 30px;
    max-width: 768px;
  }
}

@media(min-width: $desktop){
  .wrapper{
    padding: 0 110px;
    max-width: 1440px;;
  }
}
